<div id="metadata_detail" ng-controller="metadata_main_mixList_detail">
    <div class="ui secondary pointing menu"
         style="background-color: #ffffff; margin: 0px;padding:4px;border: 0px">
        <div class="ui item">
            <i class="icon red info"></i>字段列表
        </div>
        <div class="ui item">
            <div class="ui blue mini button" ng-click="importFields()">导入字段</div>
            <div class="ui blue mini button" ng-click="logicFieldDirective.removeItem()">删除字段</div>
        </div>
    </div>
    <div class="ui celled grid" style="margin-top: 5px">
        <div class="four wide middle column" style="padding: 0">
            <!--<div ngx-grid field="ngxGridField" data="ngxGridData" rowclick="select(this)"></div>-->
            <div ngx-grid uuid="'ngxListFields'" header="ngxListFieldFields" data="ngxListDataFields"></div>

        </div>
        <div class="twelve wide right column" style="margin: 0px;padding: 8px">

            <div class="ui attached info message">
                <i class="icon info"></i>字段详细信息{{a}}
                <div class="ui blue submit mini button floated right">保存字段信息</div>
            </div>
            <form class="ui form attached fluid segment" id="1245955872">
                <div class="inline fields">
                    <div class="field">
                        <label>字段名称</label>
                        <input placeholder="First Name" type="text" ng-model="dataItem.name">
                    </div>
                    <div class="field">
                        <label>字段编码</label>
                        <input placeholder="Last Name" type="text" ng-model="dataItem.code">
                    </div>
                    <div class="field">
                        <label>字段取值类型</label>
                        <select ng-model="dataItemTypeValue"
                                ng-options="item.code as item.value for item in dataItemType"
                                ng-change="valueExpressTab=dataItemTypeValue">
                        </select>
                    </div>
                </div>
                <div class="inline field" ng-switch on="valueExpressTab" ng-init="valueExpressTab='None'">
                    <div ng-switch-when="None">
                        <!--<label>取值范围：无</label>-->
                    </div>
                    <div ng-switch-when="Enum" class="ui  segment">
                        <label>取值范围</label>
                        <div class="ui blue submit mini button floated right" ng-click="addEnumValue()"
                             ng-show="valueExpressTab=='Enum'">添加
                        </div>
                        <table class="ui small table">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>编码</th>
                                <th>值</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="item in enumValue">
                                <td>{{$index+1}}</td>
                                <td><input ng-model="item.code"/></td>
                                <td><input ng-model="item.value" ng-keypress="keyPress($event)" title="Enter 新增"/></td>
                                <td><i class="close icon link icon" ng-click="removeEnumValue($index)"></i></td>
                            </tr>
                        </table>
                    </div>

                </div>


            </form>
        </div>
    </div>
</div>


<script language="JavaScript">
    $(document).ready(function () {
        $('#metadata_detail .ui.dropdown').dropdown();


    })

    function showModal() {
//        $('.ui.modal').modal('show')
    }

</script>