<div class="ui celled grid" ng-controller="_moduleName__entityName_mixList">
    <div class="five wide middle column" style="padding: 0">
        <div class="ui secondary pointing blue menu"
             style=" margin: 3px;padding:3px;border: 1px">
            <div class="ui item">
                <i class="icon red info"></i>{{listTitle}}
            </div>
            <div class="ui floated right item">
                <a class="ui teal mini labeled  button" ng-click="addItem()">新增</a>
                <a class="ui teal mini labeled  button" ng-click="removeItem()">删除</a>
            </div>
        </div>
        <div ngx-list  uuid="'ngx_list__entityName'" header="listHeader" data="listData" ></div>
    </div>
    <div class="twelve wide right column" style="margin: 0px;padding: 0px">
        <div ui-view="_moduleName__entityName_mixList"></div>
    </div>

</div>
