<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.xpm.repository.mybatis.FactualEntityDao">
	<!-- 获取部门详细信息, 输出用resultMap关联嵌套对象 -->
	<select id="query"  resultType="java.util.HashMap">
		select table_name as code ,TABLE_COMMENT as name from v_md_entity_unmanaged
	</select>
</mapper> 
