<div class="ui celled grid" ng-controller="issueMainMixListCtrl">
    <div class="six wide middle column" style="padding: 0">
        <div>
            <div class="ui mini fluid input">
                <input type="text" placeholder="输入关键字，过滤当前列表内容......" style="height: 30px" ng-model="query">
            </div>
        </div>
        <div class="ui divided inbox selection list" style="margin: 2px;" ng-init="selectedItem=-1">
            <a class="item" ng-repeat="issue in issueList | filter:query" ng-class="{active:selectedIndex==$index}"
               ng-click="select($index);loadIssuePage('main_mixList_detail',null,{id:issue.id})">
                <div class="right floated date">{{issue.datetime}}</div>
                <div class="description">{{issue.title}}</div>
            </a>
        </div>
        <div class="ui base mini fluid button">获取更多 ......</div>

    </div>
    <div class="ten wide right column" style="margin: 0px;padding: 8px">
        <div ng-include="main_mixList_detail"></div>
    </div>
</div>