<div ng-controller="ui_design_index" style="min-height: 400px;">
    <div class="ui large modal" id="rootModal" style="height: 90%;overflow-y:scroll">
        <!--<div class="header">-->
            <!--<div class="left">-->
                <!--Modal Title-->
            <!--</div>-->
            <!--<div class="right">-->
                <!--<i class="close red icon"></i>-->
            <!--</div>-->
        <!--</div>-->
        <i class="close red icon"></i>
        <div class="content xg-fitted" style="background-color: #ffffff">
            <div ng-include src="rootModal" onload="showModal()">
            </div>
            <!--<div class="actions">-->
                <!--<div class="ui button">Cancel</div>-->
                <!--<div class="ui button">OK</div>-->
            <!--</div>-->
        </div>
    </div>
    <!--<div class="ui mini orange button" ng-click=showModal({name:'views_json_editor',params:{alias:'viewCfgs',renderTo:'rootModal'}})>JSON</div>-->
    <div ngx-designer-toolbar select-to="rootIndex"></div>
    <div ng-include src="rootIndex"></div>
    <!--<div ngx-include src="rootIndex"></div>-->
</div>
