<div class="ui secondary pointing blue large menu" style=" margin: 3px 0px;padding: 3px 0px;border: 1px" ng-controller="views_list_simple">
    <div class="ui item">
        <i class="icon red info"></i>
        查询配置列表
    </div>
    <div class="ui floated right item">
        <a class="ui teal mini labeled  button" ng-repeat="listAction in cfg.actions"
           ng-click="doAction()" style="margin-left: 3px">{{listAction.displayName}}</a>
    </div>
</div>
<div class="ui mini left fluid icon input">
    <input type="text" placeholder="输入关键字，过滤当前列表内容......" style="height: 30px" ng-model="query">
    <i class="filter icon"></i>
</div>
<div class="ui divided inbox selection list" style="margin: 2px;height: 105%">
    <div class="item">
        {{ cfg}}
        <div ng-repeat="field in cfg.fields" style="font-weight:bold;display: inline-block;width: {{field.width}}">
            {{field.displayName}}
        </div>
    </div>
    <a class="item" ng-repeat="item in listData | filter:query" ng-class="{active:selectedItemIndex==$index}"
       ng-click="click($index,this)">
        <div ng-repeat="field in cfg.fields" class="xg-wrapPlus" style="display: inline-block;width: {{field.value.width}}">
            {{$eval("item."+field.value.name)}}
        </div>
    </a>
</div>
