<h4 class="ui block black top bottom attached  header">
    &nbsp;
    <i class="info icon link icon">&nbsp;jsonEditor</i>
</h4>
<div id="jsonEditor"></div>
<div ng-init="showJSONEditor(viewCfgs)"></div>
