<div class="ui two column center aligned stackable divided grid" ng-controller="sysConfigSetAppCtrl">
    <div class="column">
        <div class="ui icon header circular">
            示例
        </div>
        <p>应用配置之后将会出现在下图红色框的位置中。</p>

        <p><img class="ui huge image" style="vertical-align:middle"
                src="images/m/sys/config/step_setapp.jpg"/></p>
    </div>
    <div class="column">
        <div class="ui icon header">
            配置
        </div>
        <p>可以基于现有的应用进行配置，也可以添加一个新的应用进行配置。</p>

        <form class="ui reply form" style="margin-top: 40px">
            <p>选择一个应用
                <select ng-model="appId" ng-options="app.pageId as app.name for app in appList" style="height: 28px">

                </select>
                <a class="ui teal mini right labeled icon mini button" ng-click="toStep('tmpl')">设置 <i
                        class="right long arrow icon"></i></a>

            </p>

            <p>


            <div class="inline field" style="margin-top: 40px">
                <label>新增一个应用</label>
                <input type="text" placeholder="应用名称" style="height: 28px">
                <a class="ui teal right labeled icon mini button" ng-click="toStep('tmpl')">设置 <i
                        class="right long arrow icon"></i></a>
            </div>

            </p>

            <p>


        </form>
        </p>
    </div>
</div>