<div ng-controller="sys_user_mixListPlus_tabs_detail">
    <h4 class="ui block black top attached header">
        <button class="ui orange submit mini button floated right" ng-click="saveItem()">保存</button>
        <i class="icon info"></i>用户信息
    </h4>

    <div class="ui grid">
        <div class="three wide column">
            <img class="circular ui image center" ng-src="{{xgeeUtils.ctx}}{{item.avatar==null?'files/m/sys/user/avatar/unknown.png':item.avatar}}" ng-click="changeAvatar()"
                 style="cursor: pointer;margin-left: 5px" title="点击换一个更靓更帅的">
        </div>
        <div class="twelve wide column">
            <form class="ui small form attached fluid segment" id="1245955872">

                <div class=" field">
                    <label>姓 名</label>
                    <input type="text" ng-model="item.name"/>
                </div>
                <div class=" field">
                    <label>登录名 </label>
                    <input type="text" ng-model="item.loginName" readonly/>
                </div>
                <div class="field">
                    <label>注册时间</label>
                    <div class="ui left icon input disabled">
                        <input type="text" ng-model="item.createDate" readonly>
                        <i class="calendar icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label>描述</label>
                    <textarea ng-model="item.description"></textarea>
                </div>
            </form>
        </div>
    </div>


</div>
