<div class="ui column page grid" ng-controller="sys_role_profile">

    <div class="column" style="padding: 0% 10%;">

        <form class="ui small form" id="1245955872">
            <div class="two fields">
                <div class="field" style="width:400px">
                    <div class="grouped fields">
                        <div class=" field">
                            <label>姓 名</label>
                            <input type="text" ng-model="item.name"/>
                        </div>
                        <div class=" field">
                            <label>登录名 </label>
                            <input type="text" ng-model="item.loginName" disabled/>
                        </div>
                        <div class=" field">
                            <label>邮箱地址</label>
                            <input type="text" ng-model="item.create_date$">
                        </div>
                        <div class=" field">
                            <label>QQ</label>
                            <input type="text" ng-model="item.qq">
                        </div>
                        <div class="field">
                            <label>描述</label>
                            <textarea ng-model="item.description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="field" style="width:280px">
                    <label>头像</label>
                    <img class="rounded ui image" ng-src="{{appUtils.ctx}}{{item.avatar}}" title="点击换一个更靓更帅的"
                         style="cursor: pointer;width: 250px;border-style: solid;border-color: silver;" ng-click="showUploadFile=true">

                    <p ng-show="showUploadFile" ng-init="showUploadFile=false">
                        <input id="fileupload" type="file" name="file" data-url="http://localhost:6879/api/upload/" multiple>
                    </p>
                </div>
            </div>


        </form>
    </div>
</div>
<script language="javascript">
    $(document).ready(function(){
       $('#fileupload').fileupload();
    });
</script>



