<div id="{{moduleName}}_{{resName}}_{{view.name}}" ng-controller="{{moduleName}}_{{resName}}_{{view.name}}">
    <div class="ui celled grid">
        <div class="sixteen wide right column column-fixed">
            <div class="ui teal secondary pointing filter large menu" style=" margin: 3px;padding:3px;border: 1px">
                {{#view.containers.tabs}}
                    <a class="item" ng-class="{active:currentDetailView=='{{name}}'}"
                       ng-click="switchTab('{{name}}')">{{title}}</a>
                {{/view.containers.tabs}}
            </div>
            <div ng-switch on="currentDetailView">
                {{#view.containers.tabs}}
                    <div class='ui divided inbox selection list active tab' ng-switch-when='{{name}}'>
                        <div ui-view="{{moduleName}}_{{resName}}_{{view.name}}_tabs_{{name}}"></div>
                    </div>
                {{/view.containers.tabs}}
            </div>
        </div>
    </div>
</div>
<script language="JavaScript">
    $(document).ready(function () {
        $('.ui.dropdown').dropdown()
    })
</script>